In [6]:
import os.path
import shutil

import numpy as np
import pandas as pd

df = pd.read_csv("data resources/sGSL-September-RV-FGP.csv", encoding="utf-8")
df.columns

Index(['year__année', 'month__mois', 'day__jour',
       'start_hour__heure_de_départ', 'start_minute__minute_de_départ',
       'latitude', 'longitude', 'gear__équipement', 'species__espèce',
       'french_name__nom_français', 'english_name__nom_anglais',
       'latin_name__nom_latin', 'weight_caught__poids_pris',
       'number_caught__quantité_attrapé'],
      dtype='object')

In [7]:
# define the function to combine datetime from a row
def combine_date(row):
    year = str(row["year__année"]).zfill(4)
    month = str(row["month__mois"]).zfill(2)
    day = str(row["day__jour"]).zfill(2)
    hour = row["start_hour__heure_de_départ"]
    minute = row["start_minute__minute_de_départ"]
    if (not isinstance(hour, str) and np.isnan(hour)) or (not isinstance(minute, str) and np.isnan(minute)):
        return f"{year}-{month}-{day}"
    else:
        return f"{year}-{month}-{day} {int(hour)}:{int(minute)}"

In [8]:
# add a new column that is a datetime
df["datetime"] = pd.to_datetime(df.apply(combine_date, axis=1))
df_trunc = df.sort_values("datetime").loc[:, ["year__année", "latitude", "longitude", "datetime"]]
df_trunc = df_trunc.drop_duplicates()
df_trunc[df_trunc["year__année"]==2003]

       year__année   latitude  longitude            datetime
62351         2003  46.060750 -63.183000 2003-09-16 16:30:00
62388         2003  45.927083 -62.486750 2003-09-16 21:37:00
62410         2003  45.758250 -62.413333 2003-09-17 02:03:00
62431         2003  45.811583 -62.210000 2003-09-17 04:31:00
62459         2003  45.941167 -62.141833 2003-09-17 07:00:00
...            ...        ...        ...                 ...
64724         2003  48.277083 -62.128667 2003-09-28 05:06:00
64752         2003  48.160333 -61.964000 2003-09-28 07:40:00
64778         2003  47.984583 -61.895167 2003-09-28 10:49:00
64804         2003  47.919083 -62.099917 2003-09-28 14:45:00
64836         2003  47.659583 -61.909750 2003-09-28 18:15:00

[83 rows x 4 columns]

In [9]:
from stock_assessment_surveys.utils.xy2line import xy2line
xy2line(df_trunc)