In [12]:
import os.path
import shutil

import numpy as np
import pandas as pd

df = pd.read_csv("data resources/sGSL-September-RV-FGP.csv", encoding="windows-1252")
df.columns

Index(['year__annee', 'month__mois', 'day__jour',
       'start_hour__heure_de_depart', 'start_minute__minute_de_depart',
       'latitude', 'longitude', 'gear__equipement', 'species__espece',
       'french_name__nom_francais', 'english_name__nom_anglais',
       'latin_name__nom_latin', 'weight_caught__poids_pris',
       'number_caught__quantite__attrape'],
      dtype='object')

In [13]:
# define the function to combine datetime from a row
def combine_date(row):
    year = str(row["year__annee"]).zfill(4)
    month = str(row["month__mois"]).zfill(2)
    day = str(row["day__jour"]).zfill(2)
    hour = row["start_hour__heure_de_depart"]
    minute = row["start_minute__minute_de_depart"]
    if (not isinstance(hour, str) and np.isnan(hour)) or (not isinstance(minute, str) and np.isnan(minute)):
        return f"{year}-{month}-{day}"
    else:
        return f"{year}-{month}-{day} {int(hour)}:{int(minute)}"

In [14]:
# add a new column that is a datetime
df["datetime"] = pd.to_datetime(df.apply(combine_date, axis=1))
df_trunc = df.sort_values("datetime").loc[:, ["year__annee", "latitude", "longitude", "datetime"]]
df_trunc = df_trunc.drop_duplicates()
df_trunc

        year__annee   latitude  longitude            datetime
0              1970  47.983333 -64.716667 1970-09-15 12:25:00
10             1970  48.050000 -64.600000 1970-09-15 13:55:00
21             1970  48.216667 -64.466667 1970-09-15 15:55:00
23             1970  48.150000 -64.350000 1970-09-15 17:45:00
37             1970  48.316667 -64.283333 1970-09-16 08:25:00
...             ...        ...        ...                 ...
161597         2021  45.937750 -63.332333 2021-09-26 10:00:00
161616         2021  46.114583 -63.426083 2021-09-26 14:04:00
161635         2021  46.044250 -63.180583 2021-09-26 17:49:00
161654         2021  45.979750 -63.147750 2021-09-26 19:51:00
161675         2021  45.947333 -63.038083 2021-09-26 22:23:00

[7134 rows x 4 columns]

In [15]:
from stock_assessment_surveys.utils.xy2line import xy2line
xy2line(df_trunc)