In [5]:
import os.path
import shutil

import numpy as np
import pandas as pd

df = pd.read_csv("data resources/sGSL-Sentinel-Survey-FGP.csv", encoding="windows-1252")
df.columns

Index(['cruise_number__numero_de_criosiere', 'year__annee', 'month__mois',
       'day__jour', 'start_hour__heure_de_depart',
       'start_minute__minute_de_depart', 'latitude', 'longitude',
       'gear__equipement', 'species__espece', 'french_name__nom_francais',
       'english_name__nom_anglais', 'latin_name__nom_latin',
       'weight_caught__poids_pris', 'number_caught__quantite__attrape'],
      dtype='object')

In [6]:
# define the function to combine datetime from a row
def combine_date(row):
    year = str(row["year__annee"]).zfill(4)
    month = str(row["month__mois"]).zfill(2)
    day = str(row["day__jour"]).zfill(2)
    hour = row["start_hour__heure_de_depart"]
    minute = row["start_minute__minute_de_depart"]
    if (not isinstance(hour, str) and np.isnan(hour)) or (not isinstance(minute, str) and np.isnan(minute)):
        return f"{year}-{month}-{day}"
    else:
        return f"{year}-{month}-{day} {int(hour)}:{int(minute)}"

In [7]:
# add a new column that is a datetime
df["datetime"] = pd.to_datetime(df.apply(combine_date, axis=1))
df_trunc = df.sort_values("datetime").loc[:, ["year__annee", "latitude", "longitude", "datetime"]]
df_trunc = df_trunc.drop_duplicates()
df_trunc

       year__annee   latitude  longitude            datetime
0             2003  47.850667 -65.284500 2003-08-04 18:30:00
4             2003  47.844833 -65.488833 2003-08-04 20:03:00
16            2003  47.974583 -65.718917 2003-08-04 22:06:00
17            2003  47.981500 -65.075000 2003-08-05 09:55:00
27            2003  48.145583 -64.554083 2003-08-05 13:25:00
...            ...        ...        ...                 ...
23830         2019  48.228667 -62.932917 2019-08-18 16:57:00
23842         2019  48.522167 -63.430917 2019-08-18 20:15:00
23855         2019  48.858000 -63.738417 2019-08-18 21:20:00
23869         2019  48.859583 -63.931833 2019-08-19 09:12:00
23881         2019  48.347417 -64.422333 2019-08-19 14:02:00

[3059 rows x 4 columns]

In [8]:
from stock_assessment_surveys.utils.xy2line import xy2line
xy2line(df_trunc)