In [5]:
import os.path
import shutil

import numpy as np
import pandas as pd

df = pd.read_csv("scs.OpenData.2023.csv", encoding="utf-8")
df.columns

Index(['year__année', 'month__mois', 'day__jour', 'tow__trait', 'longitude',
       'latitude', 'start__départ', 'comment__commentaire',
       'snow_crab_males__mâles_de_crabe_des_neiges',
       'snow_crab_females__femelles_de_crabe_des_neiges',
       'Atlantic_cod__morue_franche', 'American_plaice__plie_américaine',
       'Yellowtail_flounder__limande_à_queue_jaune',
       'winter_flounder__plie_rouge', 'thorny_skate__raie_épineuse',
       'smooth_skate__raie_lisse',
       'longhorn_sculpin__chaboisseau_à_dix_huit_épines',
       'sea_potato__patate_de_mer', 'Hyas_coarctatus__crabe_lyre'],
      dtype='object')

In [6]:
# define the function to combine datetime from a row
def combine_date(row):
    year = str(row["year__année"]).zfill(4)
    month = str(row["month__mois"]).zfill(2)
    day = str(row["day__jour"]).zfill(2)
    time = row["start__départ"]
    if not isinstance(time, str) and np.isnan(time):
        return f"{year}-{month}-{day}"
    else:
        return f"{year}-{month}-{day} {time}"

In [7]:
# add a new column that is a datetime
df["datetime"] = pd.to_datetime(df.apply(combine_date, axis=1))
df_trunc = df.sort_values("datetime").loc[:, ["year__année", "latitude", "longitude", "datetime"]]
df_trunc = df_trunc.drop_duplicates()
df_trunc

      year__année   latitude  longitude            datetime
7            2019  47.383417 -60.389367 2019-07-12 05:12:31
4            2019  47.430650 -60.465467 2019-07-12 06:53:49
6            2019  47.522783 -60.403833 2019-07-12 09:51:01
5            2019  47.555850 -60.439400 2019-07-12 11:10:09
3            2019  47.510067 -60.483467 2019-07-12 12:32:33
...           ...        ...        ...                 ...
1740         2023  46.449283 -61.479437 2023-09-04 07:22:38
1742         2023  46.394638 -61.351182 2023-09-04 08:38:14
1741         2023  46.508329 -61.410200 2023-09-04 09:37:58
1743         2023  46.532849 -61.447729 2023-09-04 10:22:37
1739         2023  46.607070 -61.544888 2023-09-04 11:19:54

[1744 rows x 4 columns]

In [8]:
from stock_assessment_surveys.utils.xy2line import xy2line
xy2line(df_trunc)